$color-brand: #29aafe;
$color-green: #3fc915;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.productAdd__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  padding: 2em 2em 1em 2em;

  .productAdd__left {
    width: 30%;

    .productAdd__link {
      padding: 0;
      img {
        border-radius: 50%;
        width: 8em;
        height: 8em;
      }
    }
  }

  .productAdd__right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    .productAdd__card {
      border-radius: 2rem;
      box-shadow: 0.2rem 1rem 1rem rgba(0, 0, 0, 0.3);
      width: 18rem;
      background-color: rgb(212, 28, 120);
      color: var(--white-text);

      .productAdd__form-top {
        padding: 2vh;
        display: flex;
        justify-content: center;

        .productAdd__img {
          border-radius: 50%;
          width: 120px;
          height: 120px;
          margin: 0;
        }
      }
      .productAdd__form-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        height: 18rem;

        .productAdd__form-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 3.5rem;

          .productAdd__form-input {
            border: none;
            border-radius: 2rem;
            color: rgb(97, 94, 94);
            font-size: 0.7rem;
            margin-top: 0.2rem;
            margin-bottom: 0.6rem;
            padding: 0.7rem;
            width: 100%;
            height: 2rem;
          }

          .productAdd-img {
            margin: 0;
            height: 3.5rem;
            padding: 5px;
            background-color: white;
          }
          p {
            font-size: 0.6rem;
          }
        }
        .productAdd__form-group--display {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;

          .productAdd__form-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.1rem;
            background-color: $color-green;
            margin: 1rem 0 0 0;
            border: 0.2rem solid white;
            border-radius: 2rem;
            width: 6rem;
            height: 2rem;
            font-size: 0.9rem;
            color: white;
            transition: color 0.2s linear;

            &:hover {
              cursor: pointer;
              background-color: #1f6809;
              color: $color-brand;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .productAdd__container {
    flex-direction: column;
    padding: 1em;
    .productAdd__left {
      height: 10%;
      width: 100%;
      .productAdd__link {
        height: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .productAdd__right {
      padding-top: 1rem;
      width: 100%;
      height: 90%;
      align-items: flex-start;

      .productAdd__card {
        width: 16rem;

        .productAdd__form-top {
          padding: 2vh;
          display: flex;
          justify-content: center;

          .productAdd__img {
            width: 100px;
            height: 100px;
          }
        }

        .productAdd__form-content {
          width: 16rem;
        }
      }
    }
  }
}
