$color-text: #7e8890;
$color-brand: #29aafe;
$color-button: #7f4814;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

.navbar {
  width: 100%;

  .navbar__container {
    width: 100%;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    padding: 0.5rem;

    .navbar__left {
      width: 10%;

      .navbar-logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .navbar__link {
          .img-logo {
            border-radius: 50%;
            height: 90px;
            width: 90px;
          }
        }
      }
    }

    .navbar__nav {
      width: 35%;
      display: flex;
      justify-content: left;
      letter-spacing: 0.5px;
    }

    .navbar__right {
      width: 55%;
      display: flex;
      justify-content: right;
      letter-spacing: 0.5px;

      .navbar__link--background-color {
        background-color: $color-button;
        text-transform: capitalize;
        &:hover,
        &.focus {
          color: $color-brand;
        }
      }
      .nick {
        display: block;
        text-align: center;
      }
    }
  }
}

.navbar__link {
  transition: color 0.2s linear;
  color: white;
  padding: 1vh;
  &:hover,
  &.focus {
    color: $color-brand;
    text-decoration: none;
  }
}
.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__menu--padding {
  padding: 0;
}

.navbar__menu > li > a {
  display: block;
  color: white;
  text-decoration: none;
}

.navbar__sub-menu {
  position: absolute;
  display: none;
  list-style: none;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.317);
}
.navbar__menu li:hover .navbar__sub-menu {
  display: block;
}
.navbar__sub-menu li:hover {
  background-color: rgba(74, 31, 31, 0);
}
.navbar__sub-menu li a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

> li {
  position: relative;
  display: inline-block;
  padding: 0 2px;

  &:hover > a {
    color: $color-brand;
  }
}

a {
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0 12px;
  color: $color-text;
  transition: color 0.2s linear;

  &:hover,
  &:focus,
  &.active {
    color: $color-brand;
    text-decoration: none;
  }
}

.shopping-bars {
  color: white;
  width: 1em;
  transition: color 0.2s linear;
  &:hover,
  &.focus {
    color: $color-brand;
  }
}

@media (max-width: 640px) {
  .navbar {
    .navbar__container {
      font-size: 8px;
      line-height: 1.5;
      .navbar__left {
        // width: 10%;
        .navbar-logo {
          .navbar__link {
            .img-logo {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
      .navbar__right {
      }
    }
  }
}
