$color-text: #7e8890;
$color-brand: #29aafe;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
  background: #f8f8f828;
  width: 100%;
  font-size: 1.5em;

  .navbar__left {
    float: left;
    letter-spacing: 0.5px;
    padding: 5vh 0 1vh 2vh;
  }

  .navbar__right {
    display: flex;
    align-items: center;
    float: right;
    letter-spacing: 0.5px;
    padding: 5vh 2vh 1vh 0;

<<<<<<< HEAD
    .navbar__link--background-color {
      background-color: rgb(98, 177, 29);
      color: white;
      text-transform: capitalize;
      &:hover,
      &.focus {
        color: white;
        text-decoration: none;
      }
    }

=======
>>>>>>> 323cf7c (feat: register)
    .btn {
      margin-right: 8px;
      color: rgb(19, 77, 236);
      opacity: 1;
      &:hover {
        color: rgb(155, 18, 137);
      }
    }
  }

  .navbar__link {
    padding: 1vh;
    transition: color 0.2s linear;
    color: rgb(20, 20, 109);
    font-weight: bold;
    &:hover,
    &.focus {
      color: $color-brand;
      text-decoration: none;
    }
  }
}

.navbar__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5vh 0 0 2vh;
}

.navbar__menu--padding {
  padding: 0;
}

.navbar__menu > li > a {
  display: block;
  color: white;
  text-decoration: none;
}

.navbar__sub-menu {
  position: absolute;
  display: none;
  list-style: none;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.317);
}
.navbar__menu li:hover .navbar__sub-menu {
  display: block;
}
.navbar__sub-menu li:hover {
  background-color: rgba(74, 31, 31, 0);
}
.navbar__sub-menu li a {
  display: block;
  color: white;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}

> li {
  position: relative;
  display: inline-block;
  padding: 0 2px;

  &:hover > a {
    color: $color-brand;
  }
}

a {
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0 12px;
  color: $color-text;
  transition: color 0.2s linear;

  &:hover,
  &:focus,
  &.active {
    color: $color-brand;
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
}
