$color-brand: #29aafe;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

.register__container {
  display: flex;
  background-color: rgba(41, 153, 170, 0);
  height: 100vh;
  width: 100%;
  background-image: url('../../../img/logo3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .register__left {
    width: 30%;
    height: 100%;
    padding: 2em 2em;

    img {
      border-radius: 50%;
      width: 60%;
    }
  }

  .register__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;

    .register__card {
      border-radius: 2rem;
      box-shadow: 0.2rem 1rem 1rem rgba(0, 0, 0, 0.3);
      width: 20rem;
      background-color: rgb(212, 28, 120);
      color: var(--white-text);
    }
  }
}

.register__form-top {
  padding: 2vh;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.register__form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.2em;

  h1 {
    font-size: 1.5rem;
  }
}

.register__form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: 20rem;
  height: 20rem;

  .register__form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3.5rem;

    .register__form-input {
      border: none;
      border-radius: 2rem;
      color: rgb(97, 94, 94);
      font-size: 1rem;
      margin-top: 0.2rem;
      margin-bottom: 0.6rem;
      padding: 0.7rem;
      width: 100%;
      height: 2rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

.register__form-button {
  padding: 0.2rem;
  background-color: #7f4814;
  margin: 1.5rem 0 0 0;
  border: 0vh;
  border-radius: 2rem;
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
}

.register__networks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-size: 1rem;

  .fa-facebook:before {
    color: white;
  }

  .fa-google:before {
    color: white;
  }

  .fa-instagram:before {
    color: white;
  }
}

/* media queries */
@media (min-width: 1030px) {
  .register {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

@media (max-width: 768px) {
  .register__container {
    padding-top: 2em;

    .register__left {
      padding: 0;
      width: 20%;

      img {
        width: 100%;
      }
    }
    .register__right {
      padding-top: 3em;
      align-items: flex-start;
      width: 80%;
      .register__card {
        width: 16rem;
      }
    }
  }
  .register__form-content {
    width: 16rem;
  }
}
