@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(41, 153, 170);
}

.register__container {
  border-radius: 3vh;
  box-shadow: 0.2rem 1rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 67vh;
  background-color: rgb(209, 18, 114);
  align-items: center;
  color: var(--white-text);
}

.register__form-top {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 11vh;
}

.register__form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;

  h1 {
    font-size: 7vh;
    margin-bottom: 1rem;
  }
}

.register__form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vh;
  height: 30vh;

  p {
    font-size: 2.5vh;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  width: 35vh;
  height: 30vh;
}

.form__input {
  color: rgb(97, 94, 94);
  font-size: 3vh;
  margin-top: 0.4vh;
  margin-bottom: 0.6vh;
  padding: 0.5vh;
  width: 35vh;
  height: 5vh;
}

.form__button {
  padding: 0.5vh;
  background-color: rgba(40, 151, 51);
  margin: 3vh;
  border: 0vh;
  width: 20vh;
  height: 5vh;
  font-size: 3vh;
}

.login__networks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3vh;

  .fa-facebook:before {
    color: white;
  }

  .fa-google:before {
    color: white;
  }

  .fa-instagram:before {
    color: white;
  }
}

/* media queries */
@media (max-width: 1030px) {
  .register__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
