:root {
  --white-text: #fff;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
