.Payment-header {
  height: 100vh;
  background-color: rgb(76, 179, 165);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Checkout__form {
  width: 400px;
}
